OPTS='-domain={{ consul_domain }}' \
  '-datacenter={{ consul_datacenter }}' \
  '-bind={{ consul_address }}' \
{% if 'consul_server' in group_names %}
  '-server' \
  '-bootstrap-expect={{ groups["consul_server"] | length }}' \
  '-ui-dir=/opt/consul/webui' \
  '-ui' \
  '-client={{ consul_address }}' \
{%- endif -%}
  '-join={{ consul_servers | join(",") }}' \
  '-rejoin'
