[DEFAULT]
# Ban hosts for two hours
bantime = 7200

# Use ipsets to block bad actors
banaction = firewallcmd-ipset


[sshd]
enabled = true
backend = systemd
journalmatch =  _SYSTEMD_UNIT=sshd.service + _COMM=sshd
maxretry = 3

[selinux-ssh]
enable = true
maxretry = 3
backend = auto
