{"service":
  { "name": "prometheus",
    "tags": [
      "prometheus",
      "monitoring",
      "prometheus-server"
    ],
    "address": "{{prometheus_server_listen_address}}",
    "port": {{prometheus_server_listen_port}},
    "check": {"http": "http://{{prometheus_server_listen_address}}:{{prometheus_server_listen_port}}/metrics","interval":"10s"}
  }
}
