global:
  scrape_interval:     15s
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # The labels to add to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'master'

rule_files:
  - '/etc/prometheus/rules/*.json'
  - '/etc/prometheus/rules/*.yml'
  - '/etc/prometheus/rules/*.yaml'

# A list of scrape configurations.
scrape_configs:

  - job_name: 'prometheus'
    scrape_interval: 10s
    scrape_timeout:  10s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: "node"
    consul_sd_configs:
      - server: "localhost:8500"
        services:
          - "node-exporter"
    file_sd_configs:
      - files:
        - '/etc/prometheus/sd/node_exporter_*.json'
        - '/etc/prometheus/sd/node_exporter_*.yml'
        - '/etc/prometheus/sd/node_exporter_*.yaml'
    static_configs:
      - targets:
        - "localhost:9100"
