OPTS="-storage.local.path={{ prometheus_server_data_path}} " \
     "-web.console.templates=/opt/prometheus/releases/current/consoles "\
     "-web.console.libraries=/opt/prometheus/releases/current/console_libraries " \
     "-alertmanager.url=http://localhost:9093 "
