[Unit]
Description=Prometheus node exporter service
After=network.target
Wants=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/node_exporter
ExecStart=/opt/prometheus/bin/node_exporter
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always
RestartSec=20
TimeoutSec=300
# This seems to be the easiest way to ensure we can pull all metrics we want
SupplymentaryGroups=root
StandardOutput=journal
StandardError=journal
User={{ prometheus_node_exporter_user }}
Group={{ prometheus_group }}
ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
CapabilityBoundingSet=~CAP_SYS_ADMIN
ReadOnlyPaths=/
NoNewPrivileges=yes
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes
TasksAccounting=yes

[Install]
WantedBy=multi-user.target
