# {{ ansible_managed }}
[Unit]
Description=Prometheus alertmanager service
After=network.target
Wants=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/alertmanager
ExecStart=/opt/prometheus/bin/alertmanager -config.file=/etc/prometheus/alertmanager.yml $OPTS
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always
RestartSec=20
TimeoutSec=300
StandardOutput=journal
StandardError=journal
User={{ prometheus_alertmanager_user }}
Group={{ prometheus_group }}
ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
CapabilityBoundingSet=~CAP_SYS_ADMIN
ReadOnlyPaths=/
ReadWritePaths={{ prometheus_alertmanager_data_path }}
NoNewPrivileges=yes
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes
TasksAccounting=yes

[Install]
WantedBy=multi-user.target
