[Unit]
Description=Prometheus server service
After=network.target
Wants=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/prometheus
ExecStart=/opt/prometheus/bin/prometheus -config.file=/etc/prometheus/prometheus.yml $OPTS
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always
RestartSec=20
TimeoutSec=300
StandardOutput=journal
StandardError=journal
User={{ prometheus_server_user }}
Group={{ prometheus_group }}
ProtectSystem=full
CapabilityBoundingSet=~CAP_SYS_ADMIN
ProtectHome=yes
PrivateTmp=yes
ReadOnlyPaths=/
ReadWritePaths={{ prometheus_server_data_path }}
NoNewPrivileges=yes
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes
TasksAccounting=yes

[Install]
WantedBy=multi-user.target
